/* For the Nav Bar and the links
font-family: 'Cairo', sans-serif;  */
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

/* For the h1 
font-family: 'Playfair Display', serif;  */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');


nav a h2 {
  font-family: 'Cairo', sans-serif;
  color: #fff !important;
}
h1 {
  font-family: 'Playfair Display', serif; 
  color: #fff;
}

.nav-item {
  color: #fff !important;
}

nav a>img {
  width: 8rem;
}

.nav-link {
  margin: 0rem 2rem;
}

nav {
  margin: 0px;
  background-color: #584223 !important;

}

body {
  margin: 0px;
  background-color: #584223;
  background-image: url('../images/PitchIt!\ BG.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}




.bottom {
  margin-top: 10%;
  background-color: #584223;
  color: #fff;
  margin-bottom: 0;
  padding: 1rem;
}
