/* For the Nav Bar and the links
font-family: 'Cairo', sans-serif;  */
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

/* For the h1 
font-family: 'Playfair Display', serif;  */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');


nav a h2 {
  font-family: 'Cairo', sans-serif;
  color: #fff !important;
}
h1 {
  font-family: 'Playfair Display', serif; 
  color: #fff;
}

.nav-item {
  color: #fff !important;
}

nav a>img {
  width: 8rem;
}



* {
  background-color: #584223;
}
