.white {
  color: white !important;
}

body {
  text-align: center;
}

/* Is not helpful for now since we have included the div.col container */
/* .container {
  text-align: center;
} */

.txtalign {
  /* text-align: center !important; */
  margin: 0 auto !important;
  width: 25%;
}

.btn-outline-success {
  color: #fff !important;
  border: white !important;
  background-color: violet;

}

input {
  text-align: center;
  
}

button.right {
  float: right;
}

button.left {
  float: left;
}