
/* body {
  text-align: center;
} */

.holder {
  background-color: rgba(185, 156, 88, 0.5);
  padding: 2rem;
  margin: 2em;
  margin-right: 5rem;
  border-radius: 7px;
}

.card {
  background-color: #F2E0B0
}

.bottom {
  text-align: center;
}

button {
  border: none;
  background-color: #B99C58;
  margin-top: 1rem;
}

button:hover {
  color: #F2E0B0;
}

.right {
  float: right;
}

.three, .two {
  margin-top: 2rem;
}