{% extends 'base.html' %}



<!-- Content block -->

{% block content %}

<head>


  <link rel="stylesheet" href="../static/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="../static/css/indxstyles.css">

</head>
<body>
  
  <div class="container">
    <div class="row 1">
      <h1>
        PITCH IT!
      </h1>
    </div>
    <div class="row 2">
      <h2>
        AN ENCYCLOPEDIC PLAYGROUND OF
      </h2>
    </div>
    <div class="row 3">
      <h1>
        WIT & IDEAS & WISDOM 
      </h1>
    </div>
    <div class="row 4">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          <span>
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </button>
      </form>
    </div>
    <div class="row 5">
      <h2>
        OR
      </h2>
    </div>
    <div class="row 6">
      <div class="col-6">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          VIEW PITCHES...
        </button>
      </div>
      <div class="col-6">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          DROP A PITCH...
        </button>
      </div>
    </div>
  </div>

</body>

{% endblock %}