{% extends 'base.html' %}



<!-- Content block -->

{% block content %}

<head>


  <link rel="stylesheet" href="../static/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="../static/css/indxstyles.css">

</head>
<body>
  
  <div class="container">
    <div class="row 1">
      <div class="col-12">
        <h1>
          PITCH IT!
        </h1>
      </div>
    </div>
    <div class="row 2">
      <div class="col-12">
        <h2 class="white">
          AN ENCYCLOPEDIC PLAYGROUND OF
        </h2>
      </div>
    </div>
    <div class="row 3">
      <div class="col-12">
        <h1>
          WIT & IDEAS & WISDOM 
        </h1>
      </div>
    </div>
    <div class="row 4 txtalign container-fluid">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">        
        </form>  
    </div>
    <div class="row 5">
      <div class="col-12">
        <h2 class="white">
          OR
        </h2>
      </div>
    </div>
    <div class="row 6">
      <div class="col-6">
        <button class="btn right btn-outline-success my-2 my-sm-0" type="submit">
          VIEW PITCHES...
        </button>
      </div>
      <div class="col-6">
        <button class="btn left btn-outline-success my-2 my-sm-0" type="submit">
          DROP A PITCH...
        </button>
      </div>
    </div>
  </div>

</body>

{% endblock %}