{% extends 'base.html' %}



<!-- Content block -->

{% block content %}

<head>


  
  <link rel="stylesheet" href="../static/css/pitch.css">

</head>
<body>
  
  <div class="container top">
    
    <div class="holder">

      <div class="row one">
      
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><strong>Wisdom</strong></h5>
              <p class="card-text">One sure method to learn and gain wisdom: From the Word of God.. Which is the cheapest, long lasting and the easiest.</p>
              <h6 class="card-subtitle mb-2 text-muted">Posted by: <i>Victor Shaviya</i></h6>
              <a href="#" class="card-link left"><button>Upvote</button></a>
              <a href="#" class="card-link right"><button>Downvote</button></a>
            </div>
          </div>
        </div>
        
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><strong>Programming</strong></h5>
              <p class="card-text">If debugging is the process of removing software bugs, then programming must be the process of putting them in.</p>
              <h6 class="card-subtitle mb-2 text-muted">Posted by: <i>Henry Petroski</i></h6>
              <a href="#" class="card-link left"><button>Upvote</button></a>
              <a href="#" class="card-link right"><button>Downvote</button></a>
            </div>
          </div>
        </div>
        
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><strong>Comp. Science</strong></h5>
              <p class="card-text">There are only two hard things in Computer Science: cache invalidation, naming things and off-by-one errors.</p>
              <h6 class="card-subtitle mb-2 text-muted">Posted by: <i>Mark Gibbs</i></h6>
              <a href="#" class="card-link left"><button>Upvote</button></a>
              <a href="#" class="card-link right"><button>Downvote</button></a>
            </div>
          </div>
        </div>
      
      </div>



      <div class="row two">
      
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><strong>Wisdom</strong></h5>
              <p class="card-text">One sure method to learn and gain wisdom: From the Word of God.. Which is the cheapest, long lasting and the easiest.</p>
              <h6 class="card-subtitle mb-2 text-muted">Posted by: <i>Victor Shaviya</i></h6>
              <a href="#" class="card-link left"><button>Upvote</button></a>
              <a href="#" class="card-link right"><button>Downvote</button></a>
            </div>
          </div>
        </div>
        
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><strong>Programming</strong></h5>
              <p class="card-text">If debugging is the process of removing software bugs, then programming must be the process of putting them in.</p>
              <h6 class="card-subtitle mb-2 text-muted">Posted by: <i>Henry Petroski</i></h6>
              <a href="#" class="card-link left"><button>Upvote</button></a>
              <a href="#" class="card-link right"><button>Downvote</button></a>
            </div>
          </div>
        </div>
        
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><strong>Comp. Science</strong></h5>
              <p class="card-text">There are only two hard things in Computer Science: cache invalidation, naming things and off-by-one errors.</p>
              <h6 class="card-subtitle mb-2 text-muted">Posted by: <i>Mark Gibbs</i></h6>
              <a href="#" class="card-link left"><button>Upvote</button></a>
              <a href="#" class="card-link right"><button>Downvote</button></a>
            </div>
          </div>
        </div>
      
      </div>


      <div class="row three">
      
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><strong>Wisdom</strong></h5>
              <p class="card-text">One sure method to learn and gain wisdom: From the Word of God.. Which is the cheapest, long lasting and the easiest.</p>
              <h6 class="card-subtitle mb-2 text-muted">Posted by: <i>Victor Shaviya</i></h6>
              <a href="#" class="card-link left"><button>Upvote</button></a>
              <a href="#" class="card-link right"><button>Downvote</button></a>
            </div>
          </div>
        </div>
        
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><strong>Programming</strong></h5>
              <p class="card-text">If debugging is the process of removing software bugs, then programming must be the process of putting them in.</p>
              <h6 class="card-subtitle mb-2 text-muted">Posted by: <i>Henry Petroski</i></h6>
              <a href="#" class="card-link left"><button>Upvote</button></a>
              <a href="#" class="card-link right"><button>Downvote</button></a>
            </div>
          </div>
        </div>
        
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><strong>Comp. Science</strong></h5>
              <p class="card-text">There are only two hard things in Computer Science: cache invalidation, naming things and off-by-one errors.</p>
              <h6 class="card-subtitle mb-2 text-muted">Posted by: <i>Mark Gibbs</i></h6>
              <a href="#" class="card-link left"><button>Upvote</button></a>
              <a href="#" class="card-link right"><button>Downvote</button></a>
            </div>
          </div>
        </div>
      
      </div>


    </div>
    
  </div>

    
    
</body>

{% endblock %}



